/* Sidebar Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Lato', sans-serif;
}

.sidebar {
  height: 100%;
  width: 58px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 10px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #dde2e3;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 58px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
