/* Sidebar Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Lato', sans-serif;
}

.sidebar {
  height: 100%;
  width: 58px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 10px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #dde2e3;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 58px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* This is the second, wider sidebar in the cookbook screen */
.test {
  z-index: 4;
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
  position: fixed;
  top: 0px;
  left: 57.6px;
  height: 100%;
  border-right: 3px solid rgb(221, 227, 227);
  width: 360px;
}

/* Main region of the cookbook page (where recipes are displayed) */
.main-cookbook {
  margin-left: 418px;
  padding: 0px 10px;
}

.sidebar-title-container {
  height: 92px;
  border-bottom: 1px solid rgb(221, 227, 227);
  text-align: center;
}

/* START - Cookbook Dropdown Selector */
.dropbtn {
  background-color: #fafafa;
  color: black;
  text-align: left;
  font-size: 16px;
  border: none;
  width: 100%;
  height: 37px;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid rgb(221, 227, 227);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ededed;
}
/* END - Cookbook Dropdown Selector */

/* START - Section | Recipe sub side bar thing */
.container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.one {
  width: 40%;
  height: 100%;
  float: left;
}

.two {
  margin-left: 40%;
  height: 100%;
  border-left: 1px solid rgb(221, 227, 227);
}
/* START - Section | Recipe sub side bar thing */
